.search {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search > p {
  color: #7829c8;
  margin-bottom: 1rem;
  font-size: 18px;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: #7829c8;
  width: 4px;
  height: 30px;
  position: absolute;
  top: 40px;
  transform: rotate(135deg);
}

.search > div > input {
  color: #7829c8;
  font-size: 20px;
  background: transparent;
  width: 52px;
  height: 52px;
  padding: 1rem;
  border: solid 3px #7829c8;
  outline: none;
  border-radius: 36px;
  transition: width 0.5s;
  align-self: center;
}

.search > div > input::placeholder {
  color: #7829c8;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
